html {
    background-color: #fdfdfd;
}
body {
    color: #222222;
    max-width: 210mm;
    margin: auto;
    padding: 0 1.5em 1.5em 1.5em;
}
h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
}
